<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style nonce="{{ cspNonce }}">
      @layer tailwind-base, components, tailwind-utils;
    </style>
    <link rel="stylesheet" href="/colors.css" />

    @viteReactRefresh({ nonce: cspNonce })
    @inertiaHead()
    @vite([
      'inertia/app.tsx',
      `inertia/pages/${page.component}.tsx`,
    ], { nonce: cspNonce })
  </head>
  <body>
    @inertia()
  </body>

</html>
